.head__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;

   .head__logo {
      display: flex;
      align-items: center;

      &--img {
         height: 28.56px;
         max-width: 107.82px;
      }
   }

   .hamburger {
      display: none;
   }
}

@media screen and (max-width: 620px) {

   .head__container {

      .head__logo {
         margin: 0 auto;
      }

      .hamburger {
         display: block;
         position: absolute;

         div {
            width: 19px;
            margin-top: 2.5px;
            height: 3.5px;
            background-color: $yellow;
         }
      }
   }
}